/*Gennerelle regler*/ 
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;   
    font-family: 'Avenir', sans-serif;
    color: black;
} 

a {
    text-decoration: none;
}

/*TEKST*/
h1 {
    text-transform: uppercase;
    font-size: 1.563vw;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.563vw;
    padding-top: 5%;
    padding-bottom: 1%;
}

h3 {
    text-transform: uppercase;
    font-size: 1.302vw;
    padding-bottom: 8%;
}

h4 {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1.042vw;
}

.kort-smagsvarianter p, .historie-kort p {
    font-size: 1.042vw;
}

h5 {
    font-size: 2.083vw;
    text-transform: uppercase;
    padding-bottom: 2%;
}

h6, main p, #brodtekst {
    font-size: 1.3vw;
}

.ikoner p {
    color:#949C8F;
    padding-top: 23px;
    padding-right: 70px;
    padding-left: 30px;
    font-size: 1.2vw;
}

.underoverskrift {
    text-align: center;
    font-size: 1.3vw;
    padding-bottom: 2%;
}

/*Header laptop*/ 

header a {
    text-transform: uppercase;
}

#logo-com {
    width: 8%;
    padding-top: 10px;
}

header {
    text-align: center;
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
}

nav{ 
    display: flex; 
    justify-content: space-evenly; 
    width: 40%; 
    padding-top: 10px;  
} 

#navlaptop {
    margin-left: 28%;
}

.navoverskrift {
    font-weight: bold;
    font-size: 1.042vw;
}

/*Dropdown*/ 

.dropbtn {
    background-color:white;
    border: none;
    letter-spacing: 1px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content li{ 
    list-style: none; 
    margin-bottom: 10px; 
} 
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ddd;}

/*Burger menu*/ 
#mobil-menu /*ikonet*/{
    width: 11%;
    padding-left: 40px;
}

#navmobil{
    width:100%;
    padding-bottom: 1000px;
    align-items:center;
    display:flex;            
    flex-direction:column;
    background-color:#CFD2CC;
}

#navmobil a{
    text-transform:uppercase;
    font-size: 3.5vw;
    color:black;
    width:100%;
    text-align:left;
    padding-top:30px;
    padding-bottom:15px;
    padding-left: 40px;
}

#navmobil a:hover{
    background-color:white;
}

#navmobil img{
    width:5%;
}
#navmobil .underoverskrift {
    padding-left: 70px;
}

#minus {
    width: 100%;
    padding-left: 5px;
}

/*MAIN FORSIDE*/
.historie-kort{
    display: flex;
    margin-top: 15%;
}

#historie {
    width: 50%;
    background-color:#CFD2CC;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

#banner img {
    width: 100%;
}

.kort-smagsvarianter, h1 .kort-smagsvarianter {
    display: flex;
    justify-content: space-evenly;
}

.kort-opskrifter {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 16%;
    padding-right: 16%;
}

/*MAIN OPSKRIFT*/
#opskrift-billede{
    margin-top: 264px;
    text-align: center;
    width: 100%;
}

.ikoner{
    width: 100%;
    justify-content: center;
    display: flex; 
    padding-top: 2%;
}

#tid, #portioner {
    width: 3%;
}

#brodtekst {
    text-align: center;
    padding-top: 5%;
}

#ingredienser{
    background-color: #949C8F;
    width: 30%;
}

#fremgangsmåde {
    background-color: #CFD2CC;
    width: 45%;
}

#fremgangsmåde, #ingredienser {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.opskrift {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
    padding-top: 7%;
}


/*MEDIA QUERIES*/

/*MOBIL*/

@media screen and (max-width: 1024px){

    /*Tekst*/
    h1, h2 {
        font-size: 4vw;
        padding-top: 120px;
    }

    h3 {
        font-size: 3vw;
    }

    .kort-smagsvarianter h3,.kort-smagsvarianter p {
        text-align: center;
    }
    .historie-kort p {
        font-size: 3vw;
        padding-left: 40px;
        padding-right: 40px;

    }
    
    h4, .kort-smagsvarianter p, .underoverskrift {
        font-size: 3vw;
    }
    
    h5 {
        font-size: 4vw;
    }

    h6 {
        font-size: 3vw;
    }
    
    #brodtekst p {
        font-size: 3vw;
        margin-left: 5%;
        margin-right: 5%;
    }

    main p {
        font-size: 3vw;
    }
    
    .ikoner p {
        font-size: 3vw;
    }

    /*Header*/
    #banner {
        display: none;
    }

    #navlaptop {
        display: none;
    }

    #logo-com {
        display: none;
    }

    #logo-mobil {
        width: 20%;
    }


    /*Forside historie*/
    #historie {
        width: 100%;
        text-align: center;
        padding-top: 17%;
        padding-bottom: 10%;
    }

    /*Forside kort med smag*/
    .smag-com  {
        display: none;
    }

    .kort-smagsvarianter {
        flex-direction: column;
        align-items: center;
    }

    /*Forside kort med opskrifter*/
    .kort-opskrifter {
        flex-direction: column;
        align-items: center;
    }

    .kort-opskrifter img {
        padding-top: 30px;
    }

    /*Opskrift ikoner*/
    #tid, #portioner {
        width: 6%;
    }

    /*opskrift div*/
    .opskrift {
        flex-direction: column;
        align-items: center;
        grid-gap: 50px
    }

    #ingredienser, #fremgangsmåde {
        width: 80%;
    }

    /*Opskrift billede*/
    #romtoddy-opskrift-com {
        display: none;
    }

    #kamille-opskrift-com{
        display: none;
    }

    #opskrift-billede{
        margin-top: 250px;
    }

    .ikoner p {
        padding-right: 40px;
        padding-left: 20px;
    }

    .ikoner {
        padding-bottom: 30px;
        padding-top: 30px;
    }

}

/*COMPUTER*/  
@media screen and (min-width: 1024px){

    /*logo*/
    #logo-mobil {
        display: none;
    }

    /*mobil menu*/
    #mobil-menu {
        display: none;
    }

    /*Smagsvarrianter billeder*/
    .smag-mobil {
        display: none;
    }

    /*Opskrift billede*/
    #romtoddy-opskrift-mobil {
        display: none;
    }
    #kamille-opskrift-mobil{
        display: none;
    }

}







